body {
    overflow-x: scroll;
}

.content {
    width: 115vw;
}

.view {
    margin: 5em 0em 0 0em;
    width: 115vw;
}

h2 {
    font-size: 2.2em;
    padding-bottom: 0.6em;
}

.table {
    margin: 4em 2em 0 2em;
}

table th, td{
	padding: 1.5em 1em 1.5em 1em;
}

table {
	border-collapse: collapse;
	font-size: 18px;
	text-align: left;
}

th {
	background-color: #4db1eb;
	color: white;
}

tr:nth-child(even) {
	background-color: #ededed;
}

#editData {
    background-color: #1298ff;
    border-radius: 6px;
}

#editBtn {
    color: white;
    font-size: 18px;
    text-decoration: none;
}