
/*

StudentID: c00260735

Name: Conor Brooke

Date: 12/03/2022

Purpose of file: This file is for extra CSS on the delete doctor page.

*/


#deleteData {
    text-align: center;
}

/* The CSS for the delete BTN in the table */
#deleteBtn {
    background-color: #ec1616;
    border-radius: 6px;
    border: none;
    padding: 0.6em 0.8em 0.6em 0.8em;
    color: white;
    font-size: 18px;
}

#deleteBtn:hover{
    background-color: #464851;
}