/* Navagation Menu For Entitys in the system */

.innerMenu {
    background-color: #24252A;
    justify-content: center;
}

.innerMenu .outerUl {
    margin: 0 15em 0 13em;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.innerMenu li {
    text-align: center;
    width: 20%;
    padding: 2.2em 0 2.2em 0;
    position: relative;
}

/*Dropdown 
.innerMenu .outerUl li ul {
    width: 70%;
    display: block;
    position: absolute;
    background-color: #868686;
    margin-top: 2em;
}

.innerMenu .outerUl li ul {
    width: 70%;
    display: block;
    position: absolute;
    background-color: #868686;
    margin-top: 2em;
}
*/
.innerMenu a {
    color: #D2D2D2;
    font-size: 20px;
    text-decoration: none;
}

.innerMenu li:hover {
    background-color: #464851;
    color: white;
}

.selected {
    background-color: #464851;
    color: white;
}