
/*

StudentID: c00260735

Name: Conor Brooke

Date: 29/02/2022

Purpose of file: This file is for the CSS of the Insert Doctor Screen.

*/


/* Designed a grid layout to align the content in the center */
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-content: center;
	height: 80vh;
	text-align: center;
}

.confirmation {
    grid-column: 2/3;
}

/* Custimizing the inserted successful page*/
.phpH3 {
    color: green;
	font-size: 1.8em;
}

/* The CSS for each input in the table*/
input {
	margin-top: 5em;
	border: none;
    background-color: #f09f1d;
    width: 10em;
    height: 3.2em;
    color: white;
    font-size: 16px;
}

input:hover {
    background-color: #464851;
}