
.paymentsPage {
    display: flex;
    flex-direction: column;
    margin: 4em 0em 0em 5em;
}

#paymentHeader {
    text-align: left;
    font-size: 17px;
    margin-bottom: 1em;
}

#paymentHeader h2 {
    font-size: 1.8em;
    padding-bottom: 0.8em;
}

.supplierContent {
    margin-top: 3em;
}

input {
	margin-top: 5em;
	border: none;
    background-color: #f09f1d;
    width: 10em;
    height: 3.2em;
    color: white;
    font-size: 16px;
}

input:hover {
    background-color: #464851;
}

#hide {
    display: none;
}
