
/*

StudentID: c00260735

Name: Conor Brooke

Date: 18/03/2022

Purpose of file: This file is for the CSS of the Supplier account menu.

*/


body {
    background-color: #e8e8e8;
}

/* Centering the Menu */
.menu {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.innerContent {
    width: 30em;
    height: 25em;
    background-color: white;
}

/* Centering the text */
.innerContent ul {
    padding-left: 0px;
    list-style: none;
    margin-top: 5.5em;
    text-align: center;
}

.innerContent li {
    padding-bottom: 4em;
}

.innerContent a:hover {
    color: #949494;
}

/* Customizing link */
.supplierLink {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.innerContent h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 1.8em;
}