
/*

StudentID: c00260735

Name: Conor Brooke

Date: 04/03/2022

Purpose of file: This file is for the CSS of the Amend Doctor page.

*/


/* Allowing the ability to scroll to the left and right of the page */
body {
    overflow-x: scroll;
}

/* Increasing total page width to fit all the content */
.content {
    width: 115vw;
}

.view {
    margin: 5em 0em 0 0em;
    width: 115vw;
}

h2 {
    font-size: 2.2em;
    padding-bottom: 0.6em;
}

/* Doctor table */
.table {
    margin: 4em 2em 0 2em;
}

table th, td{
	padding: 1.5em 1em 1.5em 1em;
}

table {
	border-collapse: collapse;
	font-size: 18px;
	text-align: left;
}

/* Customizing tables header */
th {
	background-color: #4db1eb;
	color: white;
}

/* Every second input in the table gets a different coloured background for a unique style */
tr:nth-child(even) {
	background-color: #ededed;
}

#editData {
    text-align: center;
}

#editBtn {
    background-color: #1298ff;
    border-radius: 6px;
    padding: 0.8em 1em 0.8em 1em;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* This runs if a entry in the table has been successfully updated. */
.alert {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 2.5em;
    padding-top: 1em;
    background-color: #87ff8c;
    color: #085c0c;
    font-size: 19px;
}